<%- include ('../../partials/head.ejs') %>
    <%- include ('../../partials/navbar.ejs') %>

        <body>
            <div class="container mt-5 ">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Category Registration</h2>
                        <% if(errors) {%>
                            <% errors.forEach(e=> { %>
                                <div class="alert alert-danger">
                                    <%= e.message %>
                                </div>
                                <% })} %>
                    </div>
                    <div class="card-body">
                        <form action="/category/save" method="post" class="form-control">
                            <div class="mb-3">
                                <label for="" class="form-label">Title</label>
                                <input type="text" name="title" class="form-control"
                                    placeholder="Insert Category here!">
                            </div>
                            <button type="submit" class="btn btn-success">Send</button>
                            <a href="/admin/categories/0" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </body>

        <%- include ('../../partials/footer.ejs') %>